# ----------------------------------------
# Node / Next.js
# ----------------------------------------
node_modules/
.next/
.next/
.next/cache/
.next/cache/**

# Turbo / monorepo builds (si llegas a usarlo)
.turbo/

# Salidas de build
out/
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Env
#.env
.env.local
.env.*.local

# Coverage / pruebas
coverage/

# Storybook (por si lo metemos luego)
.storybook-out/

# Imágenes temporales o de admin en local
public/uploads-temp/
public/images/gorra_gris-x.png
public/images/gorra_azul.jpg
public/images/gorra_gris.jpg
#public/images/sueter_azul.png
#public/images/sueter_gris.png
*.txt
*.md
*.zip

/generated/prisma

/generated/prisma
